<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mancala</title>
    <!-- Verknüpfung zu unserer zukünftigen CSS-Datei -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<!-- templates/index.html -->
<body>
    <img src="../static/mancala_logo.png" alt="Mancala" height="150">

    <div>
        <label for="starter-auswahl"></label>
    <!--<select id="starter-auswahl">
        <option value="1">Mensch</option>
        <option value="2">KI</option>
    </select>-->
        Mensch<input type="range" min="1" max="2" value="1" id="starter-auswahl" list="spieler">
        <datalist id="spieler">
            <option value="1" label="1"></option>
            <option value="2" label="2"></option>
        </datalist>KI
        <button id="neustart-button">Neues Spiel</button>
    </div>

    <div id="spiel-info">
        
        
    </div>

    <!-- Neuer Haupt-Container für das Grid-Layout -->
    <div id="spielbrett-grid">
        <!-- Das JavaScript wird die Elemente hier einfügen -->
    </div>

    <!-- NEU: Container für den Spielverlauf -->
 <div id="verlauf-container">
    <h2>Spielverlauf</h2>
    <p>Status: <span id="status-text">Lade Spiel...</span></p>
    <!-- Die ID hier muss exakt "verlauf-liste" lauten -->
    <div id="verlauf-liste"></div>
</div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>